
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AMCO</title>
    <link rel="icon" type="image/png" href="/static/images/logo.png">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <style>
        .title {
            font-size: xx-large;
            padding: 20px 0;
        }

        .listProduct .item img {
            width: 90%;
            filter: drop-shadow(0 50px 20px #0009);
        }

        .listProduct {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
        }

        .listProduct .item {
            background-color: #EEEEE6;
            padding: 20px;
            border-radius: 20px;
        }

        .listProduct .item:hover {
            border: 4px solid #03dac5;
            border-radius: 25px;
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2); /* Box shadow with black color */
            transition: transform 0.3s ease;
        }

        .listProduct .item:hover {
            transform: translateY(-10px);
        }

        .listProduct .item h2 {
            font-weight: 500;
            font-size: large;
        }

        .listProduct .item .price {
            letter-spacing: 7px;
            font-size: small;
        }

        /* detail page */
        .detail {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;
            text-align: left;
        }

        .detail .image img {
            width: 100%;
        }

        .detail .image {
            position: relative;
        }

        .detail .image::before {
            position: absolute;
            width: 300px;
            height: 300px;
            content: '';
            background-color: #94817733;
            z-index: -1;
            border-radius: 190px 100px 170px 180px;
            left: calc(50% - 150px);
            top: 50px;
        }

        .detail .name {
            font-size: xxx-large;
            padding: 40px 0 0 0;
            margin: 0 0 10px 0;
        }

        .detail .price {
            font-weight: bold;
            font-size: x-large;
            letter-spacing: 7px;
            margin-bottom: 20px;
        }

        .detail .buttons {
            display: flex;
            gap: 20px;
            margin-bottom: 20px;
        }

        .detail .buttons button {
            background-color: #eee;
            border: none;
            padding: 15px 20px;
            border-radius: 20px;
            font-family: Poppins;
            font-size: large;
        }

        .detail .buttons svg {
            width: 15px;
        }

        .detail .buttons span {
            background-color: #555454;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-left: 20px;
        }

        .detail .buttons button:nth-child(2) {
            background-color: #2F2F2F;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #eee;
            box-shadow: 0 10px 20px #2F2F2F77;
        }

        .detail .description {
            font-weight: 300;
        }

        

       
          
    </style>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<body class="product-page">
  <div class="arrow">
    <a href="#menuList" title="Back to Top"><span class="fas fa-angle-up"></span></a>
  </div>
  <div class="arrow1">
    <a href="#footer" title="Scroll to Bottom" onclick="scrollToBottom()"><span class="fas fa-angle-down"></span></a>
</div>
  <!-- Header -->
  <header class="header">
    <nav>
      <div class="logo-container">
        <a href="/"><img src="/static/images/logo.png" alt="Your Logo" class="logo"></a>
    </div>
    <ul id="menuList">
      <li><a id="home" href="/">Home</a></li>
      <li class="dropdown">
          <a class="dropbtn">About
              <span class="fas fa-angle-down"></span>
          </a>
          <div class="dropdown-content">
              <a id="about" href="/about">About Us</a>
              <a  href="#portfolio">Portfolio</a>
          </div>
      </li>
      <li><a href="#service">Service</a></li>
      <li><a id="products" href="/prod">Products</a></li>
      <li><a  href="#contact">Contact</a></li>
      <li><a id="vacancy" href="/vacancy">Vacancy</a></li>
      <li><a id="login" href="sagin"><i class="fas fa-user"></i></a></li>
  </ul>
      <div class="menu-icon">
          <i class="fa-solid fa-bars" onclick="toggleMenu()"></i>
      </div>
  </nav>
</header>

 <!--call button-->
 <a href="https://www.instagram.com/">
  <div class="call"> 
    <h2>Call Us</h2>
    <div class="phone">
      <img src="/static/images/call.png">
    </div>
    <div class="circle1"></div>
    <div class="circle2"></div>
  </div>
</a>
<!--call button-->

<div class="social-widget">
  <a href="#" class="social-icon " data-social="Telegram"><i class="fab fa-telegram"></i><span class="social-name">Telegram</span></a>
  <a href="#" class="social-icon " data-social="Instagram"><i class="fab fa-instagram"></i><span class="social-name">Instagram</span></a>
  <a href="#" class="social-icon " data-social="Facebook"><i class="fab fa-facebook"></i><span class="social-name">Facebook</span></a>
  <a href="#" class="social-icon " data-social="Twitter"><i class="fab fa-twitter"></i><span class="social-name">Twitter</span></a>
  <a href="#" class="social-icon " data-social="LinkedIn"><i class="fab fa-linkedin"></i><span class="social-name">LinkedIn</span></a>
  <a href="#" class="social-icon " data-social="YouTube"><i class="fab fa-youtube"></i><span class="social-name">YouTube</span></a>
  <a href="#" class="social-icon " data-social="TikTok"><i class="fab fa-tiktok"></i><span class="social-name">TikTok</span></a>
</div>


    <div class="container">
        <div class="title">PRODUCT LIST</div>
        <div class="listProduct">
            {% for product in products %}
            <div class="item">
                <img src="{{ url_for('uploaded_file', filename=product.image) }}" alt="{{ product.name }}">
                <div>{{ product.name }}</div>
                <div>{{ product.price }}</div>
                <div>{{ product.description }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    <footer class="footer" id="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>company</h4>
            <ul>
              <li><a href="#about">about us</a></li>
              <li><a href="#service">our services</a></li>
              <li><a href="product.html">produts</a></li>
              <li><a href="#portfolio">portfolio</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Amco</h4>
            <ul>
              <li><a href="product.html">Our furniture </a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="blog.html">News</a></li>
              <li><a href="blog.html">Event</a></li>
              
            </ul>
          </div>
          <div class="footer-col">
            <h4>Contact</h4>
            <ul>
              <li><a href="#">email<br>
              nazrawigirma598@gmail.com</a></li>
              <li><a href="#">Location<br>
              Meskelflower infront of Dreamlinerhotel </a></li>
              <li><a href="#">phone <br/>
                091020304050</a>
              </li>
            </ul>
          </div>
          <div class="footer-col2">
            <h4>follow us</h4>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
        <div class="copy">
          Copyright 2024 © || NAMIK DEVELOPMENT
        </div>
      </div>
   </footer>
  
  
    <script>
      let menuList = document.getElementById("menuList")
      menuList.style.maxHeight = "0px";
      function toggleMenu(){
          if(menuList.style.maxHeight == "0px")
          {
              menuList.style.maxHeight = "300px";
          }
          else{
              menuList.style.maxHeight = "0px";
          }
      }</script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.6/lottie.min.js"></script>
    <script src="https://cdn.emailjs.com/dist/email.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     <script>document.addEventListener('DOMContentLoaded', function() {
      const images = document.querySelectorAll('.gallery-image');
      const videoModal = document.getElementById('video-modal');
      const videoContainer = document.getElementById('video-container');
      const closeBtn = document.getElementById('close-btn');
    
      images.forEach(image => {
        image.addEventListener('click', function() {
          const videoId = this.getAttribute('data-video-id');
          const iframe = document.createElement('iframe');
          iframe.src = `https://www.youtube.com/embed/${videoId}?autoplay=1`;
          iframe.allowFullscreen = true;
    
          // Get position and size of clicked image
          const rect = image.getBoundingClientRect();
          const imageWidth = rect.width;
          const imageHeight = rect.height;
          const imageTop = rect.top + window.scrollY;
          const imageLeft = rect.left + window.scrollX;
    
          // Set video modal position
          videoModal.style.top = imageTop + 'px';
          videoModal.style.left = imageLeft + 'px';
    
          // Set video container size
          videoContainer.style.width = imageWidth + 'px';
          videoContainer.style.height = imageHeight + 'px';
    
          videoContainer.appendChild(iframe);
          videoModal.style.display = 'block';
        });
      });
    
      closeBtn.addEventListener('click', function() {
        videoContainer.innerHTML = ''; // Clear the iframe content
        videoModal.style.display = 'none';
      });
    
      // Close the modal when clicking outside the video container
      window.addEventListener('click', function(event) {
        if (event.target === videoModal) {
          videoContainer.innerHTML = ''; // Clear the iframe content
          videoModal.style.display = 'none';
        }
      });
    });
    </script>
    <script>
      document.querySelectorAll('iframe').forEach(iframe => {
          // Adding a message event listener to detect video play and pause events
          window.addEventListener('message', function(event) {
              const data = JSON.parse(event.data);
              if (data.event === 'infoDelivery' && data.info) {
                  if (data.info.playerState === 1) {
                      // Video is playing
                      document.querySelector('.slides').style.animationPlayState = 'paused';
                  } else if (data.info.playerState === 2) {
                      // Video is paused
                      document.querySelector('.slides').style.animationPlayState = 'running';
                  }
              }
          });
  
          // Function to send a postMessage to the YouTube iframe
          function sendMessage(action, value) {
              iframe.contentWindow.postMessage(JSON.stringify({
                  event: 'command',
                  func: action,
                  args: [value]
              }), '*');
          }
  
          // Attach event listener to check when iframe is interacted with
          iframe.addEventListener('load', () => {
              sendMessage('addEventListener', 'onStateChange');
          });
      });
  </script>
  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const menuIcon = document.querySelector('.menu-icon');
      const navLinks = document.querySelector('.nav-links');
    
      menuIcon.addEventListener('click', function() {
          navLinks.classList.toggle('active');
      });
    });
    
    let slideIndex = 0;
    showSlide(slideIndex);
    
    function showSlide(n) {
        const slides = document.querySelectorAll('.carousel img');
        const dots = document.querySelectorAll('.dot');
    
        // Hide all slides and remove active class from dots
        slides.forEach(slide => slide.style.display = "none");
        dots.forEach(dot => dot.classList.remove("active"));
    
        // Adjust slide index to ensure it stays within bounds
        slideIndex = (n + slides.length) % slides.length;
    
        // Show current slide and set corresponding dot as active
        slides[slideIndex].style.display = "block";
        dots[slideIndex].classList.add("active");
    }
    
    // Event listener for previous button
    document.getElementById("prev").addEventListener("click", function() {
        showSlide(slideIndex - 1);
    });
    
    // Event listener for next button
    document.getElementById("next").addEventListener("click", function() {
        showSlide(slideIndex + 1);
    });
    
    // Automatic slide change every 3 seconds
    setInterval(function() {
        showSlide(slideIndex + 1);
    }, 3000);
    
    
    // Function to start counting animation
    function startCountingAnimation(targetElement) {
        const startNumber = 1; // Start counting from 1
        const endNumber = 100;
        const duration = 4000; // Animation duration in milliseconds
        const steps = endNumber - startNumber; // Total steps from start to end
        const interval = duration / steps; // Interval for each step
      
        let currentNumber = startNumber;
        const increment = 1; // Increment by 1 for each step
      
        const intervalId = setInterval(() => {
          if (currentNumber <= endNumber) {
            // Update the displayed number
            targetElement.textContent = currentNumber;
            currentNumber += increment;
          } else {
            // Display "100+" when the count reaches 100
            targetElement.textContent = "100+";
            // Stop the interval when reaching the end number
            clearInterval(intervalId);
          }
        }, interval);
      }
      
      // Function to observe element intersection
      function CountingAnimation(countingRef, startCountingAnimation) {
        const options = {
          root: null,
          rootMargin: '0px',
          threshold: 0.5 // Trigger when 50% of the target element is visible
        };
      
        const callback = (entries, observer) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              startCountingAnimation(entry.target);
              observer.unobserve(entry.target);
            }
          });
        };
      
        const observer = new IntersectionObserver(callback, options);
        if (countingRef) {
          observer.observe(countingRef);
        }
      
        return () => {
          if (countingRef) {
            observer.unobserve(countingRef);
          }
        };
      }
      
      // Get references to the counting containers
      const countingRefCr3 = document.getElementById("countingCr3");
      const countingRefCr6 = document.getElementById("countingCr6");
      
      // Start counting animation for cr3
      CountingAnimation(countingRefCr3, startCountingAnimation);
      // Start counting animation for cr6
      CountingAnimation(countingRefCr6, startCountingAnimation);
      
    
      // When the page is scrolled, check if the scroll position is greater than 100 pixels
    // Smooth scroll to the top when the arrow is clicked

    /* */
    
    
    /*socialmedia */
    document.addEventListener('DOMContentLoaded', function() {
      const socialIcons = document.querySelectorAll('.social-icon');
      
      socialIcons.forEach(icon => {
        icon.addEventListener('click', function(event) {
          event.preventDefault();
          const socialName = icon.getAttribute('data-social');
          const socialUrl = getSocialUrl(socialName);
          window.open(socialUrl, '_blank');
        });
      });
      
      function getSocialUrl(socialName) {
        // Define your social media URLs
        const socialUrls = {
          'Telegram': 'https://telegram.org/',
          'Instagram': 'https://www.instagram.com/',
          'Facebook': 'https://www.facebook.com/profile.php?id=61559804274395',
          'Twitter': 'https://twitter.com/',
          'LinkedIn': 'https://www.linkedin.com/',
          'YouTube': 'https://www.youtube.com/',
          'TikTok': 'https://www.tiktok.com/@amco_interiorfurniture?_t=8mXEfzKb4HV&_r=1'
        };
        return socialUrls[socialName];
      }
    });
    
    
    
    
        function sendEmail() {
            // Get form data
            const name = document.getElementById('name').value;
            const email = document.getElementById('email').value;
            const phone = document.getElementById('phone').value;
            const message = document.getElementById('message').value;
    
            // Send email using EmailJS
            emailjs.send("service_l4r6gkd", "template_ab6zjtk", {
                from_name: name,
                from_email: email,
                phone: phone,
                message: message
            })
            .then(function(response) {
                console.log("Email sent successfully", response);
                alert("Your message has been sent successfully!");
                // Optionally, clear the form fields
                document.getElementById('name').value = '';
                document.getElementById('email').value = '';
                document.getElementById('phone').value = '';
                document.getElementById('message').value = '';
            }, function(error) {
                console.error("Error sending email", error);
                alert("An error occurred while sending your message. Please try again later.");
            });
        }
        /* slider*/
        document.addEventListener('DOMContentLoaded', function() {
          const slides = document.querySelectorAll('.slider img');
          const navButtons = document.querySelectorAll('.slider-nav a');
          let currentSlide = 0;
          let intervalId;
      
          function showSlide(index) {
              slides.forEach((slide, i) => {
                  if (i === index) {
                      slide.style.display = 'block';
                  } else {
                      slide.style.display = 'none';
                  }
              });
          }
      
          function nextSlide() {
              currentSlide = (currentSlide + 1) % slides.length;
              showSlide(currentSlide);
          }
      
          function prevSlide() {
              currentSlide = (currentSlide - 1 + slides.length) % slides.length;
              showSlide(currentSlide);
          }
      
          function startAutoPlay() {
              intervalId = setInterval(nextSlide, 3000);
          }
      
          function stopAutoPlay() {
              clearInterval(intervalId);
          }
      
          // Add event listeners to navigation buttons
          navButtons.forEach((button, index) => {
              button.addEventListener('click', function(event) {
                  event.preventDefault();
                  stopAutoPlay();
                  currentSlide = index;
                  showSlide(currentSlide);
                  startAutoPlay();
              });
          });
      
          // Start auto-play
          startAutoPlay();
      });
      
    /* hoMEjs*/
    const myslide = document.querySelectorAll('.myslide'),
          dot = document.querySelectorAll('.dot');
    let counter = 1;
    slidefun(counter);
    
    let timer = setInterval(autoSlide, 8000);
    function autoSlide() {
        counter += 1;
        slidefun(counter);
    }
    function plusSlides(n) {
        counter += n;
        slidefun(counter);
        resetTimer();
    }
    function currentSlide(n) {
        counter = n;
        slidefun(counter);
        resetTimer();
    }
    function resetTimer() {
        clearInterval(timer);
        timer = setInterval(autoSlide, 8000);
    }
    
    function slidefun(n) {
        
        let i;
        for(i = 0;i<myslide.length;i++){
            myslide[i].style.display = "none";
        }
        for(i = 0;i<dot.length;i++) {
            dot[i].className = dot[i].className.replace(' active', '');
        }
        if(n > myslide.length){
           counter = 1;
           }
        if(n < 1){
           counter = myslide.length;
           }
        myslide[counter - 1].style.display = "block";
        dot[counter - 1].className += " active";
    }
    /*email */
    
    emailjs.init('D3VuuvmzMea1ZpQ3l');
    
      // Event listener for form submission
      document.getElementById('submit-btn').addEventListener('click', function() {
        sendEmail();
      });
    
    function sendEmail() {
      // Get form data
      const name = document.getElementById('name').value;
      const email = document.getElementById('email').value;
      const phone = document.getElementById('phone').value;
      const message = document.getElementById('message').value;
    
      // Send email using EmailJS
      emailjs.send("service_l4r6gkd", "template_ab6zjtk", {
        from_name: name,
        from_email: email,
        phone: phone,
        message: message
      })
      .then(function(response) {
        console.log("Email sent successfully", response);
        // Show success message
        showAlert("Your message has been sent successfully!");
        // Optionally, clear the form fields
        clearFormFields();
    }, function(error) {
        console.error("Error sending email", error);
        // Show error message
        showAlert("An error occurred while sending your message. Please try again later.", true);
    });
    }
    
    function showAlert(message, isError = false) {
    alert(message); // Simple alert popup
    // You can customize this to use a styled modal dialog for a better user experience
    }
    
    function clearFormFields() {
    // Clear form fields
    document.getElementById('name').value = '';
    document.getElementById('email').value = '';
    document.getElementById('phone').value = '';
    document.getElementById('message').value = '';
    }
    
    document.addEventListener('DOMContentLoaded', function() {
      const lines = document.querySelectorAll('.for-decades-amco .line');
    
      // Function to trigger auto-write animation for each line
      function autoWriteLine(line) {
        // Start animation
        line.style.animation = 'autoWrite 1s steps(40) forwards';
        // Add event listener for animation end
        line.addEventListener('animationend', function() {
          // Ensure line remains visible after animation
          line.style.opacity = '1';
          // Hide the border line
          line.classList.add('hide-border');
          // Show the next line if available
          const nextLineIndex = Array.from(lines).indexOf(this) + 1;
          if (nextLineIndex < lines.length) {
            autoWriteLine(lines[nextLineIndex]);
          }
        });
      }
    
      // Trigger the animation sequence for the first line
      autoWriteLine(lines[0]);
    });
    
    
    
    document.addEventListener('DOMContentLoaded', (event) => {
      let items = document.querySelectorAll('.carousel-container .carousel-list .carousel-item');
      let container = document.querySelector('.carousel-container');
      let dots = document.querySelectorAll('.carousel-dots li');
      let nextBtn = document.querySelector('.carousel-arrows .next');
      let prevBtn = document.querySelector('.carousel-arrows .prev');
    
      let lastIndex = items.length - 1;
      let activeIndex = 0;
      let zIndex = 2;
    
      nextBtn.onclick = () => {
          let newIndex = activeIndex + 1 > lastIndex ? 0 : activeIndex + 1;
          setActiveItem(newIndex);
      };
    
      prevBtn.onclick = () => {
          let newIndex = activeIndex - 1 < 0 ? lastIndex : activeIndex - 1;
          setActiveItem(newIndex);
      };
    
      dots.forEach((dot, index) => {
          dot.addEventListener('click', () => {
              setActiveItem(index);
          });
      });
    
      const setActiveItem = (newIndex) => {
          if (newIndex === activeIndex) return;
          activeIndex = newIndex;
          showSlider();
      };
    
      const showSlider = () => {
          container.style.pointerEvents = 'none';
          let activeItem = document.querySelector('.carousel-container .carousel-list .carousel-item.active');
          if (activeItem) activeItem.classList.remove('active');
          zIndex++;
          items[activeIndex].style.zIndex = zIndex;
          items[activeIndex].classList.add('active');
    
          container.classList.add('effect');
    
          let activeDot = document.querySelector('.carousel-dots li.active');
          if (activeDot) activeDot.classList.remove('active');
          dots[activeIndex].classList.add('active');
    
          clearTimeout(removeEffect);
          removeEffect = setTimeout(() => {
              container.classList.remove('effect');
              container.style.pointerEvents = 'auto';
          }, 1500);
    
          clearTimeout(autoRun);
          autoRun = setTimeout(() => {
              nextBtn.click();
          }, 5000);
      };
    
      let removeEffect;
      let autoRun = setTimeout(() => {
          nextBtn.click();
      }, 5000);
    });
  </script>
  

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const menuIcon = document.querySelector('.menu-icon');
        const navLinks = document.querySelector('.nav-links');

        if (menuIcon) { // Check if menuIcon exists
            menuIcon.addEventListener('click', function() {
                navLinks.classList.toggle('active'); // Toggle the 'active' class on the nav links
            });
        }
    });

    let products = null;
    // get datas from file json
    fetch('products.json')
        .then(response => response.json())
        .then(data => {
            products = data;
            addDataToHTML();
        });

    function addDataToHTML() {
        // remove datas default from HTML
        let listProductHTML = document.querySelector('.listProduct');

        // add new datas
        if (products != null) { // if has data
            products.forEach(product => {
                let newProduct = document.createElement('a');
                newProduct.href = '/detail.html?id=' + product.id;
                newProduct.classList.add('item');
                newProduct.innerHTML =
                    `<img src="${product.image}" alt="">
                <h2>${product.name}</h2>
                <div class="price">ETB ${product.price}</div>`;
                listProductHTML.appendChild(newProduct);
            });
        }
    }

    
</script>
</body>
</html>
<!--
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="/static/images/logo.png" alt="Logo" height="30">
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/prod">Products</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="/">Vacancy</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/lagin"><span class="glyphicon glyphicon-user"></span></a></li>
            </ul>
        </div>
    </nav>
-->
